
.form-field-div{
    margin-bottom : 5px;
  }

  .form-label{
    margin-right:5px
  }

  input:focus{
    outline: none;
  }


  input:focus:invalid{
    border:3px solid pink
  }

  .form-ip-div{
    margin-bottom: 2%;
  }

  a{
    font-family: 'Roboto Condensed', sans-serif;
  }

button{
  font-family: 'Roboto Condensed', sans-serif;
}